div.multiselect {
	width:auto;
	color:#333;
	overflow:hidden;
}

div.multiselect div.multiselect-selected,
div.multiselect div.multiselect-available
{
	display:block;
	width:200px;
	float:left;
	padding:0;
}

div.multiselect ul {
	background:#fff;
	color:#333;
	height:160px;
	overflow-y:auto;
	list-style-type:none;
	border:1px solid #ccc;
	margin:0;
	padding:0;
}

div.multiselect li {
	list-style-type:none;
	display:block;
	min-height:1.5em;
	line-height:1.5em;
	cursor:pointer;
	margin:0;
}

div.multiselect li a {
	display:block;
	padding-left:4px;
	color:#333;
	text-decoration:none;
	min-height:1.5em;
	line-height:1.5em;
}

div.multiselect li a:hover {
	background:#8EB1DD;
	background:-webkit-linear-gradient(#8EB1DD, #5D799B);

}

div.multiselect a.multiselect-select-all-link,
div.multiselect a.multiselect-unselect-all-link {
	display:none;
	padding:4px 0;
	float:right;
}

div.multiselect h4 {
	display:none;
	padding:4px 0;
}

div.multiselect div.multiselect-selected li a {
	font-weight:bold;
}
